<div id='mini-audit-sidebar-inner'>
  <h2>About the Mini Audit</h2>

  <div>
    Your mini audit is built from information we gathered based on
    publicly available information, from a number of different sources
    including the ads you are running and what we gather from your
    website. 
  </div>
  <br/>
  <div>
    While this information is a <i>best</i> guess, it is usually a
    very good indicator on how efficient your PPC advertising is
    performing. 
  </div>
  
</div>
